<html lang="en">
  <head>
    {{> header}}
    <!-----------------CSS---------------------->
     <link rel="stylesheet" href="/stylesheets/general.css" />
     <link rel="stylesheet" href="/stylesheets/nav.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
       <link rel="stylesheet" href="/stylesheets/product.css" />
    <link rel="stylesheet" href="/stylesheets/footer.css" />
    <link rel="stylesheet" href="/stylesheets/query.css" />

    <title>{{ title }}</title>
  </head>
  <body>
      {{!-- log in - message --}}
      <div class="log-in--container" id="customContainer">
      <p class="log-in--message" id="variableMessage">{{someVariable}}</p>
      </div>
      {{> nav}}
      {{!-- main --}}
      <main>
        <div class="product-container">
          <img src="{{perfumeData.Image}}" alt="{{perfumeData.Name}}">
          <div class="product-info">
              <div class="p-info--one">
                <strong>
                 {{perfumeData.Name}} 
                </strong>
                {{#if perfumeData.InStock}}
                <p>In Stock</p>
                {{else}}
                <p style="color: red;">Out of Stock</p>
                {{/if}}
              </div>
              {{!-- article number --}}
              <div class="p-info--two">
                <p>Article: {{perfumeData.Id}}</p>
              </div>
              {{!-- quantity options --}}
              <div class="p-info--three">
                 <form>
                  <input type="radio" name="volume" value="1" id="one-ml" class="volume-radio">
                 <label for="one-ml">1ml</label>

                <input type="radio" name="volume" value="3" id="three-ml" class="volume-radio">
                 <label for="three-ml">3ml</label>

               <input type="radio" name="volume" value="5" id="five-ml" class="volume-radio">
               <label for="five-ml">5ml</label>

               <input type="radio" name="volume" value="10" id="ten-ml" class="volume-radio">
               <label for="ten-ml">10ml</label>

               <input type="radio" name="volume" value="15" id="fifteen-ml" class="volume-radio">
                <label for="fifteen-ml">15ml</label>

               <input type="radio" name="volume" value="20" id="twenty-ml" class="volume-radio">
               <label for="twenty-ml">20ml</label>

               <input type="radio" name="volume" value="30" id="thirty-ml" class="volume-radio">
              <label for="thirty-ml">30ml</label>
            </form>
              </div>
              {{!-- price and pay button --}}
              <div class="p-info--four">
               <p class="p-info--four--price">{{perfumeData.Price}}</p>
               
              <a href="#" class="p-info--four--buy">Buy</a>
              </div>
          </div>
        </div>
        {{!--description  --}}
        <div class="description">
            <strong>Description</strong>
             <ul>
              <li>ingredient-1</li>
              <li>ingredient-2</li>
             </ul>       
             <p>{{perfumeData.Description}}</p>
        </div>
        {{!-- reviews --}}
       
        <div class="reviews">
          <div class="review-count">
          <h2>REVIEWS</h2>
          <p>(0)</p>
          </div>
          <div class="review-comment">
            <a href="#comment-submission-id" class="review-form--button">Add a review</a>
            <div class="review-comment--container">
               {{#each comments}}
              <div class="unique-review--comment" style="border-bottom: 1px solid black; padding: 2px">
                <p>{{this.Name}} <span>26.8.2023</span></p>
                <p>{{this.Rating}} stars</p>
                <p>{{this.Review}}</p>
             </div>
              {{/each}}
            </div>
          </div>
        </div>
       
{{!-- start comment form --}}
      <div class='comment-submission--container' id="comment-submission-id">
    <h2>Submit a comment</h2>
    <form action='/store/comment' method='post' class="comment-form">
      <label for='name'></label>
      <input type='text' name='name' placeholder="Name" required />
                <label for='comment'></label>
                <textarea
                  name='review'
                  id=''
                  rows='10'
                  placeholder='Your review'
                  class='comment'
                ></textarea>
      <input type="hidden" name="id" value="{{perfumeData.Id}}">
      <div class="comment-form--rating">
        <label for="star-one">Rating</label>
        <input type="radio" value="1"  name="rating">
       <input type="radio" value="2"  name="rating">
      <input type="radio" value="3" name="rating">
     <input type="radio" value="4" name="rating">
      <input type="radio" value="5" name="rating">
      </div>
      <input type='submit' value='Post a review' />
    </form>
  </div>
    {{!-- end comment form --}}

          </main>
    {{!-- endmain --}}
  {{> footer}}
<script>
  // Get the query parameter values from the URL
  const urlParams = new URLSearchParams(window.location.search);
  const someVariable = urlParams.get('var');
  const padding = urlParams.get('padding');
  

  // Apply the padding value to the container's style
  const container = document.getElementById('customContainer');
  container.style.padding = padding;

  // Set the value to the HTML element
  document.getElementById('variableMessage').textContent = someVariable;
</script>
 <script
      type='module'
      src='https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js'
    ></script>
    <script
      nomodule
      src='https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js'
    ></script>
      <script src="/scripts/register.js"></script>
    <script src="/scripts/nav.js"></script>
    <script>
      const defaultPrice = {{perfumeData.Price}};
    </script>
     <script src="/scripts/product.js"></script>

  </body>