<html lang="en">
  <head>
    {{> header}}
    <!-----------------CSS---------------------->
     <link rel="stylesheet" href="/stylesheets/general.css" />
     <link rel="stylesheet" href="/stylesheets/nav.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
       <link rel="stylesheet" href="/stylesheets/product.css" />
    <link rel="stylesheet" href="/stylesheets/footer.css" />
    <link rel="stylesheet" href="/stylesheets/query.css" />

    <title>{{ title }}</title>
  </head>
  <body>
      {{!-- log in - message --}}
      <div class="log-in--container">
      <p class="log-in--message" style="{{stil}}" >{{logMessage}}</p>
      </div>
      {{> nav}}
      {{!-- main --}}
      <main>
        <div class="product-container">
          <img src="{{perfumeData.Image}}" alt="a perfume">
          <div class="product-info">
              <div class="p-info--one">
                <strong>
                 {{perfumeData.Name}} 
                </strong>
                <p>In stock</p>
              </div>
              {{!-- article number --}}
              <div class="p-info--two">
                <p>Article: {{perfumeData.Id}}</p>
              </div>
              {{!-- quantity options --}}
              <div class="p-info--three">
                 <form>
                <input type="radio" name="volume" value="3ml" id="3ml">
                 <label for="3ml">3ml</label>

               <input type="radio" name="volume" value="5ml" id="5ml">
               <label for="5ml">5ml</label>

               <input type="radio" name="volume" value="10ml" id="10ml">
               <label for="10ml">10ml</label>

               <input type="radio" name="volume" value="15ml" id="15ml">
                <label for="15ml">15ml</label>

               <input type="radio" name="volume" value="20ml" id="20ml">
               <label for="20ml">20ml</label>

               <input type="radio" name="volume" value="30ml" id="30ml">
              <label for="30ml">30ml</label>
            </form>
              </div>
              {{!-- price and pay button --}}
              <div class="p-info--four">
                <p class="p-info--four--price">{{perfumeData.Price}}</p>
                <a href="#" class="p-info--four--buy">Buy</a>
              </div>
          </div>
        </div>
        {{!--description  --}}
        <div class="description">
            <strong>Description</strong>
             <ul>
              <li>ingredient-1</li>
              <li>ingredient-2</li>
             </ul>       
             <p>{{perfumeData.Description}}</p>
        </div>
        {{!-- reviews --}}
        {{#each comments}}
        <div class="reviews">
          <div class="review-count">
          <h2>REVIEWS</h2>
          <p>(0)</p>
          </div>
          <div class="review-comment">
            <a href="#comment-submission-id" class="review-form--button">Add a review</a>
            <div class="review-comment--container">
              {{!-- <p> neka ovde budu komentari</p> --}}
              <div class="unique-review--comment">
                <p>{{this.Name}}<span>26.8.2023</span></p>
                <p>{{this.Rating}} stars</p>
                <p>{{this.Review}}</p>
             </div>
            </div>
          </div>
        </div>
        {{/each}}
{{!-- start comment form --}}
      <div class='comment-submission--container' id="comment-submission-id">
    <h2>Submit a comment</h2>
    <form action='/store/comment' method='post' class="comment-form">
      <label for='name'></label>
      <input type='text' name='name' placeholder="Name" required />
                <label for='comment'></label>
                <textarea
                  name='review'
                  id=''
                  rows='10'
                  placeholder='Your review'
                  class='comment'
                ></textarea>
      <input type="hidden" name="id" value="{{perfumeData.Id}}">
      <div class="comment-form--rating">
        <label for="star-one">Rating</label>
        <input type="radio" value="1"  name="rating">
       <input type="radio" value="2"  name="rating">
      <input type="radio" value="3" name="rating">
     <input type="radio" value="4" name="rating">
      <input type="radio" value="5" name="rating">
      </div>
      <input type='submit' value='Post a review' />
    </form>
  </div>
    {{!-- end comment form --}}

          </main>
    {{!-- endmain --}}
  {{> footer}}
 <script
      type='module'
      src='https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js'
    ></script>
    <script
      nomodule
      src='https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js'
    ></script>
      <script src="/scripts/register.js"></script>
    <script src="/scripts/nav.js"></script>
  </body>