<html lang="en">
  <head>
    {{> header}}
    <!-----------------CSS---------------------->
     <link rel="stylesheet" href="/stylesheets/general.css" />
     <link rel="stylesheet" href="/stylesheets/nav.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/store.css" />
    <link rel="stylesheet" href="/stylesheets/footer.css" />
    <link rel="stylesheet" href="/stylesheets/query.css" />

    <title>{{ title }}</title>
  </head>
  <body>
      {{!-- log in - message --}}
      <div class="log-in--container">
      <p class="log-in--message" style="{{stil}}" >{{logMessage}}</p>
      </div>
      {{> nav}}
  
   <h1 class="store-title">Full size vials</h2>
 <main>
  <div class="store-options">
    <form action="" method="post"> {{!-- OVO JE FORMA ZA FILTRIRANJE KATEGORIJA!!! --}}
      <div class="categories">
      <button class="brends">Brends</button>
      <div class="grid-style brend-categories">
        <div>
        <a href="/store/brand/Gucci" id="gucci-link"></a>
        <input type="checkbox" name="brand" id="gucci-checkbox" value="Gucci" >
        <label for="brand">Gucci</label>
        </div>
   <div>
        <a href="/store/brand/Dior" id="dior-link"></a>
        <input type="checkbox" name="dior" id="dior-checkbox" class="test-box" value="Dior">
        <label for="dior">Dior</label>
        
        </div>
           <div>
             <a href="/store/brand/Channel" id="channel-link"></a>
        <input type="checkbox" name="channel" id="channel-checkbox" value="Channel">
          <label for="channel">Channel</label>
        </div>
           <div>
        <input type="checkbox" name="Lanvin" id="lanvin-checkbox" value="Lanvin">
        <label for="Lanvin">Lanvin</label>
        <a href="/store/brand/Lanvin" id="lanvin-link"></a>
        </div>
           <div>
        <input type="checkbox" name="calvin" id="calvin-checkbox" value="Calvin Klein">
        <label for="calvin">Calvin Klein</label>
        <a href="/store/brand/Calvin Klein" id="calvin-link"></a>
        </div>
           <div>
        <input type="checkbox" name="armani" id="armani-checkbox" value="Armani">
        <label for="armani">Armani</label>
        <a href="/store/brand/Armani" id="armani-link"></a>
        </div>
      </div>
    </div>
    {{!-- x --}}
     <div class="categories">
      <button class="aroma">Aroma</button>
      <div class="grid-style aroma-categories">
        <div>
        <input type="checkbox" name="aroma" id="jadore" value="Warm">
        <a href="/store/aroma/Warm">Warm</a>
        </div>
   <div>
        <input type="checkbox" name="aroma" id="jadore" value="Woody">
        <a href="/store/aroma/Woody">Woody</a>
        </div>
           <div>
        <input type="checkbox" name="aroma" id="jadore" value="Oriental">
        <a href="/store/aroma/Oriental">Oriental</a>
        </div>
           <div>
        <input type="checkbox" name="aroma" id="jadore" value="Summer">
        <a href="/store/aroma/Summer">Summer</a>
        </div>
           <div>
        <input type="checkbox" name="aroma" id="jadore" value="Winter">
        <a href="/store/aroma/Winter">Winter</a>
        </div>
           <div>
        <input type="checkbox" name="aroma" id="jadore" value="Nice">
        <a href="/store/aroma/Nice">Nice</a>
        </div>
      </div>
    </div>
    {{!-- x --}}
     <div class="categories">
      <button class="quantity">Quantity</button>
      <div class="grid-style quantity-categories">
        <div>
        <input type="checkbox" name="quanitity" id="jadore" value="1">
        <a href="/store/quantity/1">1</a>
        </div>
   <div>
        <input type="checkbox" name="quanitity" id="jadore" value="2">
        <a href="/store/quantity/2">2</a>
        </div>
           <div>
        <input type="checkbox" name="quanitity" id="jadore" value="5">
        <a href="/store/quantity/5">5</a>
        </div>
           <div>
        <input type="checkbox" name="quanitity" id="jadore" value="10">
        <a href="/store/quantity/10">10</a>
        </div>
           <div>
        <input type="checkbox" name="quanitity" id="jadore" value="15">
        <a href="/store/quantity/15">15</a>
        </div>
           <div>
        <input type="checkbox" name="quanitity" id="jadore" value="20">
        <a href="/store/quantity/20">20</a>
        </div>
       
      </div>
    </div>
    {{!-- x --}}
     <div class="price-range categories">
      <button class="price-range--button">Price</button>
      <div class="price-categories">
        <input type="range" id="price" class="range-slider" name="price" min="0" max="100" value="0">
        <span class="range-value">0</span>
      </div>
    </div>
   <div class="categories filter-div">
       <input type="submit" value="filter" class="filter-categories">
   </div>
    </form>
 </div>


  {{!-- OVAJ MARKUP PREDSTAVLJA JEDAN PROIZVOD --}}
  <div class="store-right--side">

   <div class="store-products">
    {{!-- x --}}
    {{#each perfumeData}}
    
     <div class="store-product">
       <a href="/store/product/{{this.id}}">
      <img src={{this.Image}} alt="{{this.Name}}">
      </a>
      <div>
        <a href="/store/product/{{this.id}}">
        <p>{{this.Name}}</p>
        </a>
        <select name="quantity" id="">
          <option value="1">{{this.Price}}</option>
        </select>
         <a href="#" class="product-order">Order</a>
      </div>
    </div>  
    {{/each}}
   </div>
     <div class="pagination">
    <a href="/newpage">1</a>
  </div>
  </div>


 
 </main>



     
 

{{> footer}}
 <script
      type='module'
      src='https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js'
    ></script>
    <script
      nomodule
      src='https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js'
    ></script>
      <script src="/scripts/register.js"></script>
    <script src="/scripts/nav.js"></script>
    <script src="/scripts/store.js"></script>
   
  </body>

