<html lang="en">
  <head>
    {{> header}}
    <!-----------------CSS---------------------->
     <link rel="stylesheet" href="/stylesheets/general.css" />
     <link rel="stylesheet" href="/stylesheets/nav.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/store.css" />
    <link rel="stylesheet" href="/stylesheets/footer.css" />
    <link rel="stylesheet" href="/stylesheets/query.css" />

    <title>{{ title }}</title>
  </head>
  <body>
      {{!-- log in - message --}}
      <div class="log-in--container">
      <p class="log-in--message" style="{{stil}}" >{{logMessage}}</p>
      </div>
      {{> nav}}
  
   <h1 class="store-title">Full size vials</h2>
 <main>
  <div class="store-options">
    <form action="/store/filter" method="post"> 
      <div class="categories">
      <button class="brends">Brends</button>
      <div class="grid-style brend-categories">
        <div>
        <input type="checkbox" name="brand[]" id="gucci-checkbox" value="Gucci" >
        <label for="brand">Gucci</label>
        </div>
   <div>
        <input type="checkbox" name="brand[]" id="dior-checkbox" class="test-box" value="Dior">
        <label for="dior">Dior</label>
        
        </div>
           <div>
        <input type="checkbox" name="brand[]" id="channel-checkbox" value="Channel">
          <label for="channel">Channel</label>
        </div>
           <div>
        <input type="checkbox" name="brand[]" id="lanvin-checkbox" value="Lanvin">
        <label for="Lanvin">Lanvin</label>
        </div>
           <div>
        <input type="checkbox" name="brand[]" id="calvin-checkbox" value="Calvin Klein">
        <label for="calvin">Calvin Klein</label>
        </div>
           <div>
        <input type="checkbox" name="brand[]" id="armani-checkbox" value="Brand-Armani">
        <label for="armani">Armani</label>
        </div>
      </div>
    </div>
    {{!-- x --}}
     <div class="categories">
      <button class="aroma">Aroma</button>
      <div class="grid-style aroma-categories">
        <div>
        <input type="checkbox" name="aroma[]" id="jadore" value="Warm">
        <label>Warm</label>
        </div>
   <div>
        <input type="checkbox" name="aroma[]" id="jadore" value="Woody">
        <label>Woody</label>
        </div>
           <div>
        <input type="checkbox" name="aroma[]" id="jadore" value="Oriental">

        <label>Oriental</label>
        </div>
           <div>
        <input type="checkbox" name="aroma[]" id="jadore" value="Summer">
        <label>Summer</label>
        </div>
           <div>
        <input type="checkbox" name="aroma[]" id="jadore" value="Winter">
        <label>Winter</label>
        </div>
           <div>
        <input type="checkbox" name="aroma[]" id="jadore" value="Nice">
        <label>Nice</label>
        </div>
      </div>
    </div>
    {{!-- x --}}
     <div class="categories">
      <button class="quantity">Quantity</button>
      <div class="grid-style quantity-categories">
        <div>
        <input type="checkbox" name="quantity[]" id="jadore" value="1">
        <label>1</label>
        </div>
    <div>
        <input type="checkbox" name="quantity[]" id="jadore" value="3">
        <label>3</label>
    </div>
           <div>
        <input type="checkbox" name="quantity[]" id="jadore" value="5">
        <label>5</label>
    </div>
           <div>
        <input type="checkbox" name="quantity[]" id="jadore" value="10">
        <label>10</label>
    </div>
           <div>
        <input type="checkbox" name="quantity[]" id="jadore" value="15">
        <label>15</label>
    </div>
           <div>
        <input type="checkbox" name="quantity[]" id="jadore" value="20">
        <label>20</label>
    </div>
      </div>
    </div>
    {{!-- x --}}
     <div class="price-range categories">
      <button class="price-range--button">Price</button>
      <div class="price-categories">
        <input type="range" id="price" class="range-slider" name="price" min="0" max="100" value="0">
        <span class="range-value">0</span>
      </div>
    </div>
   <div class="categories filter-div">
       <input type="submit" value="filter" class="filter-categories">
   </div>
    </form>
<script>
  document.getElementById('filter-form').addEventListener('submit', function (event) {
    // Collect the selected brand values
    const selectedBrands = Array.from(document.querySelectorAll('input[name="brand[]"]:checked')).map(checkbox => checkbox.value);

    const selectedAromas = Array.from(document.querySelectorAll('input[name="aroma[]"]:checked')).map(checkbox => checkbox.value);

    const selectedQuantity = Array.from(document.querySelectorAll('input[name="quantity[]"]:checked')).map(checkbox => checkbox.value);


    // Assign the collected values to a hidden input field for submission
    const hiddenInput = document.createElement('input');
    hiddenInput.type = 'hidden';
    hiddenInput.name = 'brand';
    hiddenInput.value = selectedBrands.join(',');


    const hiddenQuantity = document.createElement('input');
    hiddenQuantity.type = 'hidden';
    hiddenQuantity.name = 'quantity';
    hiddenQuantity.value = selectedQuantity.join(',');

    const hiddenAroma = document.createElement('input');
    hiddenAroma.type = 'hidden';
    hiddenAroma.name = 'aroma';
    hiddenAroma.value = selectedAromas.join(',');


    this.appendChild(hiddenInput);
    this.appendChild(hiddenAroma);
    this.appendChild(hiddenQuantity);
    

  });
</script>
 </div>


  {{!-- OVAJ MARKUP PREDSTAVLJA JEDAN PROIZVOD --}}
  <div class="store-right--side">

   <div class="store-products">
    {{!-- x --}}
    {{#each perfumeData}}
    
     <div class="store-product">
       <a href="/store/product/{{this.id}}">
      <img src={{this.Image}} alt="{{this.Name}}">
      </a>
      <div>
        <a href="/store/product/{{this.id}}">
        <p>{{this.Name}}</p>
        </a>
        <select name="quantity" id="">
          <option value="1">{{this.Price}}</option>
        </select>
         <a href="#" class="product-order">Order</a>
      </div>
    </div>  
    {{/each}}
   </div>
     <div class="pagination">
    <a href="/newpage">1</a>
  </div>
  </div>
 </main>

{{> footer}}
 <script
      type='module'
      src='https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js'
    ></script>
    <script
      nomodule
      src='https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js'
    ></script>
      <script src="/scripts/register.js"></script>
    <script src="/scripts/nav.js"></script>
    <script src="/scripts/store.js"></script>
   
  </body>


