<html lang="en">
  <head>
    {{> header}}
    <!-----------------CSS---------------------->
     <link rel="stylesheet" href="/stylesheets/general.css" />
     <link rel="stylesheet" href="/stylesheets/nav.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/store.css" />
    <link rel="stylesheet" href="/stylesheets/footer.css" />
    <link rel="stylesheet" href="/stylesheets/query.css" />

    <title>{{ title }}</title>
  </head>
  <body>
      {{!-- log in - message --}}
      <div class="log-in--container">
      <p class="log-in--message" style="{{stil}}" >{{logMessage}}</p>
      </div>
     
      {{> nav}}
     <p class="cart-notification"></p>
   <h1 class="store-title">Full size vials</h2>
 <main>
  <div class="store-options">
   
    <ion-icon name="close-circle-outline" class="filter-toggle--close"></ion-icon>
    <button class="unfilter-all">unfilter</button>
    <form action="/store/filter" method="post" id="form"> 
      <div class="categories">
      <button class="brends" type="button">Brends</button>
      <div class="grid-style brend-categories">
        <div>
        <input type="checkbox" name="brand[]" id="gucci-checkbox" value="Gucci" class="uncheck" >
        <label for="brand">Gucci</label>
        </div>
   <div>
        <input type="checkbox" name="brand[]" id="dior-checkbox" class="test-box uncheck" value="Dior">
        <label for="dior">Dior</label>
        
        </div>
           <div>
        <input type="checkbox" name="brand[]" id="channel-checkbox" value="Channel" class="uncheck">
          <label for="channel">Channel</label>
        </div>
           <div>
        <input type="checkbox" name="brand[]" id="lanvin-checkbox" value="Lanvin" class="uncheck">
        <label for="Lanvin">Lanvin</label>
        </div>
           <div>
        <input type="checkbox" name="brand[]" id="calvin-checkbox" value="Calvin Klein" class="uncheck">
        <label for="calvin">Calvin Klein</label>
        </div>
           <div>
        <input type="checkbox" name="brand[]" id="armani-checkbox" value="Armani" class="uncheck">
        <label for="armani">Armani</label>
        </div>
      </div>
    </div>
    {{!-- x --}}
     <div class="categories">
      <button class="aroma" type="button">Aroma</button>
      <div class="grid-style aroma-categories">
        <div>
        <input type="checkbox" name="aroma[]" id="a-1" value="Warm" class="uncheck">
        <label>Warm</label>
        </div>
   <div>
        <input type="checkbox" name="aroma[]" id="a-2" value="Woody" class="uncheck">
        <label>Woody</label>
        </div>
           <div>
        <input type="checkbox" name="aroma[]" id="a-3" value="Oriental" class="uncheck">

        <label>Oriental</label>
        </div>
           <div>
        <input type="checkbox" name="aroma[]" id="a-4" value="Summer" class="uncheck">
        <label>Summer</label>
        </div>
           <div>
        <input type="checkbox" name="aroma[]" id="a-5" value="Winter" class="uncheck">
        <label>Winter</label>
        </div>
           <div>
        <input type="checkbox" name="aroma[]" id="a-6" value="Nice" class="uncheck">
        <label>Nice</label>
        </div>
      </div>
    </div>
    {{!-- x --}}
     <div class="categories">
      <button class="quantity" type="button">Quantity</button>
      <div class="grid-style quantity-categories">
        <div>
        <input type="checkbox" name="quantity[]" id="q-1" value="1" class="store-checkbox uncheck">
        <label>1</label>
        </div>
    <div>
        <input type="checkbox" name="quantity[]" id="q-2" value="3" class="store-checkbox uncheck">
        <label>3</label>
    </div>
           <div>
        <input type="checkbox" name="quantity[]" id="q-3" value="5" class="store-checkbox uncheck">
        <label>5</label>
    </div>
           <div>
        <input type="checkbox" name="quantity[]" id="q-4" value="10" class="store-checkbox uncheck">
        <label>10</label>
    </div>
           <div>
        <input type="checkbox" name="quantity[]" id="q-5" value="15" class="store-checkbox uncheck">
        <label>15</label>
    </div>
           <div>
        <input type="checkbox" name="quantity[]" id="q-6" value="20" class="store-checkbox uncheck">
        <label>20</label>
    </div>
      </div>
    </div>
    {{!-- x --}}
     <div class="price-range categories">
      <button class="price-range--button" type="button">Price</button>
      <div class="price-categories">
        <input type="range" id="price" class="range-slider" name="price" min="0" max="100" value="0">
        <span class="range-value">0</span>
      </div>
    </div>
   <div class="categories filter-div" >
       <input type="submit" value="filter" class="filter-categories" id="filter-form">
   </div>
    </form>
<script>
    document.getElementById('filter-form').addEventListener('submit', function (event) {

    const selectedBrands = Array.from(document.querySelectorAll('input[name="brand[]"]:checked')).map(checkbox => checkbox.value);

    const selectedAromas = Array.from(document.querySelectorAll('input[name="aroma[]"]:checked')).map(checkbox => checkbox.value);

    const selectedQuantity = Array.from(document.querySelectorAll('input[name="quantity[]"]:checked')).map(checkbox => checkbox.value);


    // Assign the collected values to a hidden input field for submission
    const hiddenInput = document.createElement('input');
    hiddenInput.type = 'hidden';
    hiddenInput.name = 'brand';
    hiddenInput.value = selectedBrands.join(',');


    const hiddenQuantity = document.createElement('input');
    hiddenQuantity.type = 'hidden';
    hiddenQuantity.name = 'quantity';
    hiddenQuantity.value = selectedQuantity.join(',');

    const hiddenAroma = document.createElement('input');
    hiddenAroma.type = 'hidden';
    hiddenAroma.name = 'aroma';
    hiddenAroma.value = selectedAromas.join(',');


    this.appendChild(hiddenInput);
    this.appendChild(hiddenAroma);
    this.appendChild(hiddenQuantity);
    
    
  })
</script>
 </div>


  {{!-- OVAJ MARKUP PREDSTAVLJA JEDAN PROIZVOD --}}
  <div class="store-right--side">
     <ion-icon name="filter-circle-outline" class="filter-toggle--open"></ion-icon>
   <div class="store-products">
    {{!-- x --}}
    {{#each perfumeData}}
    
     <div class="store-product">
       <a href="/store/product/{{this.id}}">
      <img src={{this.Image}} alt="{{this.Name}}">
      </a>
      <div>
        <a href="/store/product/{{this.id}}">
        <p>{{this.Name}}</p>
        </a>
        <select name="quantity" id="">
          <option value="1">{{this.Price}}</option>
        </select>
         <button style="font-size: 1.5rem;" href="#" class="product-order" id="p-order--id">Order</button>
      </div>
    </div>  
    {{/each}}
   </div>
     <div class="pagination">
      {{!-- <a href="/newpage">1</a> --}}
     </div>
  </div>
 </main>

{{> footer}}
 <script
      type='module'
      src='https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js'
    ></script>
    <script
      nomodule
      src='https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js'
    ></script>
      <script src="/scripts/register.js"></script>
    <script src="/scripts/nav.js"></script>
    <script>
      const getProductLength = {{perfumeData.length}};
    </script>
    <script src="/scripts/store.js"></script>
   
  </body>


