<html lang="en">
  <head>
    {{> header}}
    <!-----------------CSS---------------------->
     <link rel="stylesheet" href="/stylesheets/general.css" />
     <link rel="stylesheet" href="/stylesheets/nav.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/store.css" />
    <link rel="stylesheet" href="/stylesheets/footer.css" />
    <link rel="stylesheet" href="/stylesheets/query.css" />

    <title>{{ title }}</title>
  </head>
  <body>
      {{!-- log in - message --}}
      <div class="log-in--container">
      <p class="log-in--message" style="{{stil}}" >{{logMessage}}</p>
      </div>
      {{> nav}}
  
   <h1 class="store-title">Full size vials</h2>
 <main>
  <div class="store-options">
    <div class="categories">
      <button class="brends">Brends</button>
      <form class="grid-style brend-categories">
        <div>
        <input type="checkbox" name="jadore" id="jadore" >
        <label for="jadore">JadoreStandard</label>
        </div>
   <div>
        <input type="checkbox" name="jadore" id="jadore" class="test-box">
        <label for="jadore">JadorePremium</label>
        </div>
           <div>
        <input type="checkbox" name="jadore" id="jadore">
        <label for="jadore">JadoreSuper</label>
        </div>
           <div>
        <input type="checkbox" name="jadore" id="jadore">
        <label for="jadore">JadoreUltra</label>
        </div>
           <div>
        <input type="checkbox" name="jadore" id="jadore">
        <label for="jadore">Jadore</label>
        </div>
           <div>
        <input type="checkbox" name="jadore" id="jadore">
        <label for="jadore">Jadore</label>
        </div>
      </form>
    </div>
    {{!-- x --}}
     <div class="categories">
      <button class="aroma">Aroma</button>
      <form class="grid-style aroma-categories">
        <div>
        <input type="checkbox" name="jadore" id="jadore">
        <label for="jadore">Jadore</label>
        </div>
   <div>
        <input type="checkbox" name="jadore" id="jadore">
        <label for="jadore">Jadore</label>
        </div>
           <div>
        <input type="checkbox" name="jadore" id="jadore">
        <label for="jadore">Jadore</label>
        </div>
           <div>
        <input type="checkbox" name="jadore" id="jadore">
        <label for="jadore">Jadore</label>
        </div>
           <div>
        <input type="checkbox" name="jadore" id="jadore">
        <label for="jadore">Jadore</label>
        </div>
           <div>
        <input type="checkbox" name="jadore" id="jadore">
        <label for="jadore">Jadore</label>
        </div>
      </form>
    </div>
    {{!-- x --}}
     <div class="categories">
      <button class="quantity">Quantity</button>
      <form class="grid-style quantity-categories">
        <div>
        <input type="checkbox" name="jadore" id="jadore">
        <label for="jadore">1</label>
        </div>
   <div>
        <input type="checkbox" name="jadore" id="jadore">
        <label for="jadore">2</label>
        </div>
           <div>
        <input type="checkbox" name="jadore" id="jadore">
        <label for="jadore">5</label>
        </div>
           <div>
        <input type="checkbox" name="jadore" id="jadore">
        <label for="jadore">10</label>
        </div>
           <div>
        <input type="checkbox" name="jadore" id="jadore">
        <label for="jadore">15</label>
        </div>
           <div>
        <input type="checkbox" name="jadore" id="jadore">
        <label for="jadore">20</label>
        </div>
      </form>
    </div>
    {{!-- x --}}
     <div class="price-range categories">
      <button class="price-range--button">Price</button>
      <form class="price-categories">
        <input type="range" id="price" class="range-slider" name="price" min="0" max="100" value="0">
        <span class="range-value">0</span>
      </form>
    </div>
  </div>

  {{!-- OVAJ MARKUP PREDSTAVLJA JEDAN PROIZVOD --}}
  <div class="store-right--side">

   <div class="store-products">
    {{!-- x --}}
    {{#each perfumeData}}
    
     <div class="store-product">
       <a href="/product">
      <img src={{this.ImageUrl}} alt="perfume">
      </a>
      <div>
        <a href="/product">
        <p>{{this.Name}}</p>
        </a>
        <select name="quantity" id="">
          <option value="1">{{this.Price}}</option>
        </select>
         <a href="#" class="product-order">Order</a>
      </div>
    </div>  
    {{/each}}
   </div>
     <div class="pagination">
    <a href="/newpage">1</a>
  </div>
  </div>


 
 </main>



     
 

{{> footer}}
 <script
      type='module'
      src='https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js'
    ></script>
    <script
      nomodule
      src='https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js'
    ></script>
      <script src="/scripts/register.js"></script>
    <script src="/scripts/nav.js"></script>
    <script src="/scripts/store.js"></script>
  </body>

